USE [BKSDBTest]
GO
/****** Object:  Table [dbo].[Order_items]    Script Date: 3/6/2026 9:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_items](
	[Order_ID] [int] NOT NULL,
	[Item_ID] [int] NOT NULL,
	[Product_ID] [int] NULL,
	[Quantity] [int] NULL,
	[List_price] [float] NULL,
	[Discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC,
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_items]  WITH NOCHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_items]  WITH NOCHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
