USE [BKSDBTest]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/6/2026 9:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_name] [varchar](60) NULL,
	[Brand_ID] [int] NULL,
	[Category_ID] [int] NULL,
	[Model_year] [int] NULL,
	[List_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([Brand_ID])
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([Category_ID])
GO
