USE [BKSDBTest]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 3/6/2026 9:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Store_ID] [int] IDENTITY(1,1) NOT NULL,
	[Store_name] [char](20) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](30) NULL,
	[Street] [varchar](30) NULL,
	[City] [char](20) NULL,
	[State] [char](2) NULL,
	[ZipCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Store_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
