USE [BKSDBTest]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 3/6/2026 9:16:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Staff_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [char](20) NULL,
	[Last_name] [char](20) NULL,
	[Email] [varchar](30) NULL,
	[Phone] [varchar](20) NULL,
	[Active] [int] NULL,
	[Store_ID] [int] NULL,
	[Manager_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Staffs]  WITH NOCHECK ADD FOREIGN KEY([Store_ID])
REFERENCES [dbo].[Stores] ([Store_ID])
GO
